.webring {
  background: black;
  color: white;
  font-family: 'Baloo Thambi', cursive;
  text-align: center;
  padding: 1em;
  width: 300px;
}

.webring-container {
  border: 1px solid white;
}

.webring-image {
  display: block;
  margin: 1em;
  max-width: 100%;
}

.webring-image img{
  max-width: 100%;
}

.webring-link {
  color: white;
}

.webring-join-copy {
  font-family: sans-serif;
}

.webring-join-copy a {
  color: white;
}